:root {
    --dark: #0E0C01;
    --light: white;
    --secondary: #353839;
    --slate: #cccccc;
    --light-opacity: rgba(255, 255, 255, 0.75);
    --light-opacity-2: rgba(255, 255, 255, 0.05);
}


/*Global*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.max-width {
    max-width: 1400px;
    margin: 0 auto;
}

body {
    /* Created with https://www.css-gradient.com */
    background: #0E0C01;
    background: -webkit-radial-gradient(top left, #0E0C01, #353839);
    background: -moz-radial-gradient(top left, #0E0C01, #353839);
    background: radial-gradient(to bottom right, #0E0C01, #353839);
}


/*Navbar*/

.navbar {
    background: var(--light);
    padding: 10px 0;
}

.navbar__header {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__logo {
    width: 100%;
    object-fit: cover;
}

.navbar__logo__place {
    position: relative;
    overflow: hidden;
    height: 80px;
    width: 80px;
}


/*navbar toggle part*/

.navbar__toggle {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border: 3px solid var(--dark);
    border-radius: 10px;
    background: var(--light);
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.navbar__toggle>span {
    position: absolute;
    width: 25px;
    height: 3px;
    border-radius: 3px;
    background: black;
    transition: all .5s ease-in-out;
}

.navbar__toggle>span:nth-child(2) {
    top: 7px;
}

.navbar__toggle>span:nth-child(3) {
    bottom: 7px;
}


/* active toggle*/

.navbar__toggle--active {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border: 3px solid var(--dark);
    border-radius: 10px;
    background: var(--light);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.navbar__toggle--active>span {
    position: absolute;
    width: 25px;
    height: 3px;
    border-radius: 3px;
    background: black;
    transition: all .5s ease-in-out;
}

.navbar__toggle--active>span:nth-child(1) {
    transform: translateX(-130%);
}

.navbar__toggle--active>span:nth-child(2) {
    transform: rotate(320deg);
}

.navbar__toggle--active>span:nth-child(3) {
    transform: rotate(45deg);
}


/*menu part*/

.navbar {
    box-sizing: border-box;
}

.navbar__menu {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.navbar__menu--active {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.navbar__menu__item {
    position: relative;
}

.navbar__menu__item::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    content: '';
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: transparent;
    transition: all .5s ease-in-out;
}

.navbar__menu__item:hover.navbar__menu__item::after {
    background: var(--dark);
}


/*Hero*/

.hero {
    background: var(--dark);
    height: 500px;
    overflow: hidden;
    position: relative;
}

.hero__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: 50% 77%;
    opacity: 0.5;
}

.hero__banner {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.hero__banner h2 {
    color: var(--light);
    margin-bottom: 20px;
}


/* homeSection */

.landing__info {
    margin-top: 4em;
    margin-bottom: 4em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing__info__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background: var(--light-opacity-2);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.landing__info__img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

.landing__info__msg {
    color: var(--light);
    margin-top: 30px;
    max-width: 600px;
    text-align: justify;
    font-weight: 600;
    font-size: 17px;
}

.landing__info__button {
    margin-top: 40px;
    height: 40px;
    width: 150px;
    background: black;
    box-shadow: 0 0 0 3px var(--slate);
    color: var(--light);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    transition: all .5s ease-in-out;
}

.landing__info__button:hover {
    background: var(--light);
    color: black;
    box-shadow: 0 0 0 3px var(--light-opacity);
}


/*customer section*/

.customers {
    margin-top: 2em;
    padding-bottom: 2em;
    background: var(--light);
    height: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.customers__section {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    gap: 2em;
    margin: 0;
    padding: 0;
    list-style: none;
}

.customers__section__icon {
    font-size: 72px;
    margin-top: 1em;
}

.customers__title {
    text-align: center;
}

.customers__item {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 275px;
    height: 200px;
    background: var(--dark);
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.customers__icon {
    margin: 20px 0;
    font-size: 60px;
    color: var(--light);
}

.customers__value {
    color: var(--light);
    font-size: 30px;
}


/*footer part*/

.external__links {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.external__links__item {
    color: var(--light);
}

.external__links__item>i {
    color: var(--light);
    font-size: 24px;
}

.footer {
    background: var(--dark);
    position: relative;
}

.footer__info {
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__logo {
    width: 100px;
    height: 100px;
    background-color: var(--light);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer__logo img {
    position: cover;
    width: 100%;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer__list__item {
    color: var(--light);
}

.footer__main {
    background-color: var(--light);
    width: 100%;
    padding: 10px 0;
}

.footer__main__section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__main__info {
    font-size: 12px;
}


/*responsive*/

@media (max-width:700px) {
    .navbar__nav {
        flex-direction: column;
    }
    .navbar__header {
        width: 100%;
    }
    .navbar__toggle {
        display: flex;
    }
    /*menu part*/
    .navbar__menu {
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
        transition: all .5s ease-in-out;
    }
    .navbar__menu--active {
        transition: all .5s ease-in-out;
    }
    .navbar__menu__item {
        margin-top: 10px;
    }
    /*landing page*/
    .landing__info__section {
        width: 100%;
        position: relative;
        border-radius: 0;
        background: transparent;
        box-shadow: none;
    }
    .landing__info__msg {
        max-width: 90%;
    }
    .landing__info__img {
        width: 250px;
        height: 250px;
    }
    /*customer section*/
    .customers {
        height: auto;
    }
    .customers__section {
        grid-template-columns: 1fr;
    }
    /*footer*/
    .footer__info {
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
        padding-left: 1em;
        padding-right: 0;
    }
    .external__links {
        margin-top: 3em;
    }
    .footer__list {
        margin-top: 3em;
    }
    .footer__logo {
        align-self: center;
    }
}

@media (min-width:701px) and (max-width:899px) {
    .navbar__nav {
        flex-direction: column;
    }
    .navbar__header {
        width: 100%;
    }
    .navbar__toggle {
        display: flex;
    }
    /*menu part*/
    .navbar__menu {
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
        transition: all .5s ease-in-out;
    }
    .navbar__menu--active {
        transition: all .5s ease-in-out;
    }
    .navbar__menu__item {
        margin-top: 10px;
    }
}

@media screen and (min-width:900px) and (max-width:1030px) {
    .navbar__header {
        width: 20%;
    }
    .navbar__menu {
        width: 65%;
        margin-right: 10px;
    }
}